<%= provide(:title, "Contact") %>

<div class="headertitle">Contact</div>
<div class="center mt-3">
  Telephone no : ############<br>
  Email address: ####################<br>
  Address : #########################
</div>
