<%= provide(:title, "About") %>
<div class="headertitle">Contact</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="big_plate col-md-10 center mt-md-4">
    <%= image_tag("self.jpeg", alt:"creator's avatar", size:"200x200", class:"logo logo-special mb-md-3 mt-3") %>
    <p>creator: LaseryLee<br>
    email: laserylee2013@gmail.com<br>
    source: <a href="https://github.com/laserylee/restaurant_app">https://github.com/laserylee/restaurant_app</a></p>
  </div>
</div>
