<% provide(:title, "Help") %>

<div class="headertitle">Help Page</div>
<div class="center mt-3">
<p>Sign in first if already have an account. Sign up if havent have an account.<br>
After that, view our items from choose item that you want and add them to cart.<br>
Next, confirm your pickup time.<br>
Finally, come to our shop to pick up your food on the agreed pickup time!</p>
</div>
