<% provide(:title, "Confirm Order") %>
<h1 class="headertitle">Confirm Order</h1>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_for(:pickup_time) do |f| %>

      <% # render "devise/shared/error_messages", resource: @order %>

      <%= f.number_field :hour, placeholder:"hours starting from nows"%>
      <%= f.number_field :minute, placeholder:"Minutes starting from nows"%>

      <%= f.submit "Confirm the order now !!", class:'btn btn-primary'%>

    <% end %>
  </div>
</div>
