<footer>
  <div class="d-flex flex-row-reverse">
    <div class="p-1"><%= link_to "About",   about_path  , class:"footlink"%></div>
    <div class="p-1"><%= link_to "Contact", contact_path, class:"footlink"%></div>
  </div>
</footer>
